# Data collection

Collected data related to Vehicle Insurance claim from kaggle dataset using Python and Pandas. To obtain a comprehensive dataset for analysis.

In [23]:
import pandas as pd

In [24]:
df = pd.read_excel("D:\Data Analyst\Projects\Vehicle Insurance Claim Data Analysis\insurance_claims.xlsx")
df

,Age,Policy_number,Policy_bind_date,Policy_state,Policy_annual_premium,Insured_zip,Insured_gender,Insured_occupation,Insured_relationship,Incident_date,...,Incident_city,Incident_location,Number_of_vehicles_involved,Witnesses,Total_claim_amount,Injury_claim,Property_claim,Vehicle_claim,Auto_model,Auto_year
0,48,521585,2014-10-17,OH,1406.91,466132,MALE,craft-repair,husband,2015-01-25,...,Columbus,9935 4th Drive,1,2,71610,6510,13020,52080,92x,2004
1,42,342868,2006-06-27,IN,1197.22,468176,MALE,machine-op-inspct,other-relative,2015-01-21,...,Riverwood,6608 MLK Hwy,1,0,5070,780,780,3510,E400,2007
2,29,687698,2000-09-06,OH,1413.14,430632,FEMALE,sales,own-child,2015-02-22,...,Columbus,7121 Francis Lane,3,3,34650,7700,3850,23100,RAM,2007
3,41,227811,1990-05-25,IL,1415.74,608117,FEMALE,armed-forces,unmarried,2015-01-10,...,Arlington,6956 Maple Drive,1,2,63400,6340,6340,50720,Tahoe,2014
4,44,367455,2014-06-06,IL,1583.91,610706,MALE,sales,unmarried,2015-02-17,...,Arlington,3041 3rd Ave,1,1,6500,1300,650,4550,RSX,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,941851,1991-07-16,OH,1310.80,431289,FEMALE,craft-repair,unmarried,2015-02-22,...,Northbrook,6045 Andromedia St,1,1,87200,17440,8720,61040,Accord,2006
996,41,186934,2014-01-05,IL,1436.79,608177,FEMALE,prof-specialty,wife,2015-01-24,...,Northbend,3092 Texas Drive,1,3,108480,18080,18080,72320,Passat,2015
997,34,918516,2003-02-17,OH,1383.49,442797,FEMALE,armed-forces,other-relative,2015-01-23,...,Arlington,7629 5th St,3,3,67500,7500,7500,52500,Impreza,1996
998,62,533940,2011-11-18,IL,1356.92,441714,MALE,handlers-cleaners,wife,2015-02-26,...,Arlington,6128 Elm Lane,1,1,46980,5220,5220,36540,A5,1998
999,60,556080,1996-11-11,OH,766.19,612260,FEMALE,sales,husband,2015-02-26,...,Columbus,1416 Cherokee Ridge,1,3,5060,460,920,3680,E400,2007

# Data Cleaning

Cleaned and Preprocessed the Vehicle Insurance claim data using Pandas and Excel to ensure it's quality, accuracy and reliability for analysis.  
This included examining data types, checking for formatting issues, missing values, duplicates and outliers.

In [25]:
df.isnull().sum()

Age                            0
Policy_number                  0
Policy_bind_date               0
Policy_state                   0
Policy_annual_premium          0
Insured_zip                    0
Insured_gender                 0
Insured_occupation             0
Insured_relationship           0
Incident_date                  0
Incident_type                  0
Collision_type                 0
Incident_severity              0
Incident_state                 0
Incident_city                  0
Incident_location              0
Number_of_vehicles_involved    0
Witnesses                      0
Total_claim_amount             0
Injury_claim                   0
Property_claim                 0
Vehicle_claim                  0
Auto_model                     0
Auto_year                      0
dtype: int64